//edit profile
.update-profile {
    padding: 18px;
    margin: 0 36px;
}

.profile-heading {
    font-weight: 600;
    font-size: 24px;
    padding: 10px 24px 12px;
    line-height: 36px;
    color: rgb(22, 24, 35);
    border-bottom: 0.5px solid rgba(22, 24, 35, 0.2);
    display: flex;
    justify-content: center;
}

.edit-avatar {
    display: flex;
    padding: 16px 0px;
    border-bottom: 0.5px solid rgba(22, 24, 35, 0.12);
}

.edit-avatar-title {
    font-weight: 600;
    line-height: 24px;
    font-size: 16px;
    width: 120px;
    margin-right: 24px;
}

.edit-avatar-user {
    width: 120px;
    height: 120px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 128px;

    img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.edit-icon {
    width: 35px;
    height: 35px;
    border-radius: 18px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(208, 208, 211);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    right: 2px;
}

.edit-form-control {
    display: flex;
    padding: 16px 0px;
    border-bottom: 0.5px solid rgba(22, 24, 35, 0.12);

    input,
    textarea {
        width: 360px;
        border-radius: 4px;
        background: rgba(22, 24, 35, 0.06);
        caret-color: rgb(254, 44, 85);
        font-size: 16px;
        color: rgb(22, 24, 35);
        line-height: 24px;
        outline: none;
        border: none;
        padding: 7px 12px;
        margin-bottom: 6px;
    }
}

.profile-site {
    font-size: 14px;
    color: rgba(22, 24, 35, 0.75);
    line-height: 18px;
    max-width: 460px;
    overflow: hidden;
    margin-top: 8px;
    width: 360px;
}

.profile-site {
    max-width: 500px;
}

.edit-text-area {
    height: 100px;
}

.input-edit {
    height: 38px;
}
