.wrapper {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #e3e3e4;
    scroll-snap-align: start;
}

.video-avatar {
    margin-right: 16px;

    img {
        width: 56px;
        height: 56px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.video-container {
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

.video-container-wrapper {
    display: flex;
    margin-top: 14px;
}

.video-container-follow {
    margin-left: 40px;
}
