.wrapper {
    width: var(--width-sidebar);
    padding: 20px 0 26px 8px;
    margin-left: -18px;
    position: fixed;
    top: 60px;
    bottom: 0px;

    &:hover {
        overflow: hidden auto;
        overscroll-behavior-y: contain;
    }
}
